.render {
    visibility: 0;
    /* animation: slideOutTop .5s ease-out 0s 1 normal forwards; */
}

.show {
    visibility: 1;
    display: inline;
    animation: slideInTop .5s ease-out 0s 1 normal forwards;

}

@keyframes slideInTop {
    0% {
        transform: translateY(-200%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideOutTop {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-200%);
    }
}